body {
    margin: 10%;
    padding: 0;
    width: auto;
    background-color: antiquewhite;
    font-family: "Calibri", sans-serif ;
    color: black;
    font-size: large;
}

#contour {
    border: 3px solid #fea35c;
    width: 80%;
    height: 90% ;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}

h1
{
    color: #b38bcc;
    font-family: "Book Antiqua", sans-serif;
    font-size: xx-large ;
    line-height: normal;
    font-weight: bolder;
}

h2
{
    color: #64abcc;
    font-family: "Courier New", sans-serif;
    font-size: x-large ;
    line-height: normal;
}
#photo {
    width: auto;
    height: auto;
    position: absolute;
    top: 5%;
    left: 4%;
}

#CDS {
    display: inline-block;
    border: 2px solid #72dc9b;
    border-radius: 1.2em;
    padding: 10px;
    margin-top: 65px;
    position: relative;
    width: auto;
    height: auto;
    left:62%;
    top: auto;


}
#nom {
    position: absolute;
    padding-top: 75px;
    width: auto;
    height: auto;
    right:5%;
    top: 15%;

}
.présentation {
    position: absolute;
    width: auto;
    height: auto;
    left:30%;
    top: 55%;
    font-size: large;
    font-weight: bold;
    font-family: 'Mansalva', cursive;

}
.icones-rs {
    position: absolute;
    width: auto;
    height: auto;
    left:5%;
    top: 75%;
}

#logo {
    position: absolute;
    width: auto;
    height: auto;
    right:5%;
    top: 70%;
}

#thèmes {
    position: absolute;
    width: auto;
    height: auto;
    right:3%;
    top: 42%;
    color: #5adc8b;
    font-size: xx-large;
    font-weight: bold;
}